# dependabot.yaml reference: https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file
version: 2
updates:
  # Maintain dependencies in our GitHub Workflows
  - package-ecosystem: github-actions
    directory: /
    labels:
      - dependencies
    schedule:
      interval: monthly
    cooldown:
      default-days: 7
  # base/requirements.txt: security fixes only
  # Other version updates are handled by workflows/watch-dependencies.yaml
  - package-ecosystem: pip
    directory: /base
    # https://docs.github.com/en/code-security/dependabot/dependabot-security-updates/customizing-dependabot-security-prs#example-1-configuration-for-security-updates-only
    open-pull-requests-limit: 0
    schedule:
      interval: daily
    labels:
      - dependencies
    cooldown:
      default-days: 7
